@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <h2>Sipariş & Ürün Yönetim Sistemi</h2>
    <p class="lead">Başlamak için yukarıdaki menüden bir işlem seçin.</p>
</div>

